.Roulette {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/gold.webp');
    background-size: 100% 200%;
    background-position: center;
    box-shadow: 8px 8px 20px #0008;
    height: 70px;

    &_block {
        min-width: 300px;
        animation: rowMove 5s infinite linear;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        color: black;
        font-weight: 900;

        img {
            width: 50px;
        }

        @keyframes rowMove {
            0% {
                transform: translate(0px, 0px);
            }

            100% {
                transform: translate(300px, 0px);
            }
        }
    }
}